
- @orders_products.each do |order_product|
 %div.order_product.font-2#this_is_an_id{style: "color: red"}
  =order_product.product.name


%div.font-serif.border-1.border-black
 Hello there
 %p.mt-4
  What's up

%div.goodbye
 Goodbye

