%div.products
  %h1.text-2xl Producten
  %hr

  %div.product-list
    %div.product
      %div.name
        %strong Product Name
    - @products.each do |product|
      %div.product
        %div.name= product.name
        = link_to "Edit", edit_admin_product_path(product), class: "button-link edit"

    = link_to "Create Product", new_admin_product_path, class: "button-link"
