/* Products */
body.admin-dashboard .products {
    background-color: lightgrey;
    width: 400px;
    padding: 1em;
}
body.admin-dashboard .products .product-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}
body.admin-dashboard .products .product-list .product {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: grey;
    padding: 0.1em;
}
body.admin-dashboard .products .product-list .product .name {
    padding: 0.2em;
}
body.admin-dashboard .products .product-list .product .edit {
    padding: 0.2em;
}
body.admin-dashboard .products .product-list .product:nth-child(odd) {
    background-color: beige;
}
body.admin-dashboard .products .button-link {
    width: fit-content;
}
body.admin-dashboard .product form {
    background-color: lightgrey;
    width: 400px;
}
body.admin-dashboard .product form .input {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0.1em;
}
body.admin-dashboard .product form .input:nth-child(odd) {
    background-color: beige;
}
body.admin-dashboard .product form .input label {
    font-weight: 600;
}

/* Orders */
body.admin-dashboard .orders {
    background-color: lightgrey;
    width: 400px;
    padding: 1em;
}
body.admin-dashboard .orders .order-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}
body.admin-dashboard .orders .order-list .order {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: grey;
    padding: 0.1em;
}
body.admin-dashboard .orders .order-list .order .name,
body.admin-dashboard .orders .order-list .order .total-price,
body.admin-dashboard .orders .order-list .order .view {
    padding: 0.2em;
}
body.admin-dashboard .orders .order-list .order:nth-child(odd) {
    background-color: beige;
}
body.admin-dashboard .orders .button-link {
    width: fit-content;
}

/* Orders - Show */
body.admin-dashboard .order {
    display: flex;
    flex-flow: column;
    width: 400px;
    background-color: lightgrey;
    padding: 1em;
}
body.admin-dashboard .order .list-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;;
    width: 100%;
    background-color: grey;
    padding: 0.1em;
}
body.admin-dashboard .order .list-item:nth-child(odd) {
    background-color: beige;
}
body.admin-dashboard .order .list-item .left {
    font-weight: 600;
}

body.admin-dashboard .order .products {
    display: flex;
    background-color: lightgrey;
    width: 400px;
    padding: 1em;
}
body.admin-dashboard .order .product-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}
body.admin-dashboard .order .product-list .product {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

/* Contacts */
body.admin-dashboard .contacts {
    background-color: lightgrey;
    width: 100%;
}
body.admin-dashboard .contacts .contact-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}
body.admin-dashboard .contacts .contact-list .contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: grey;
}
body.admin-dashboard .contacts .contact-list .contact:nth-child(odd) {
    background-color: beige;
}
body.admin-dashboard .contacts .contact-list .contact div {
    flex: 1 1;
}
body.admin-dashboard .contacts .contact-list .contact div.message {
    flex: 6 6;
}