/* Shared */

* {
    font-family: 'Segoe UI', sans-serif;
}
html {
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: #a5a5a5;
}

body {
    display: flex;
    flex-flow: column;

    margin: 0;
    width: 1200px;
    height: fit-content;
    background-color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
body nav {
    display: flex;
    flex-flow: row;
    border-bottom: 2px solid black;

    width: 100%;
}
body nav div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
    border-right: 1px solid black;
}
body nav div.basket {
    border-left: 1px solid black;
    margin-left: auto;
}
body main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 8 8;
    width: 100%;
}
body main div.page {
    padding: 1em;
}
body footer {
    display: flex;
    justify-content: center;
    text-align: center;

    border-top: 2px solid black;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color: black;
}
a.button-link, form .btn {
    padding: 0.3em;
    border: 1px solid black;
    background-color: #ffcc00;
}

h2 {
    background-color: grey;
    padding: 0.5em;
    margin: 0;
    font-weight: normal;
}

/* Contact */
.contact-form form {
    background-color: lightgrey;
    width: 400px;
}
.contact-form form .input {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0.1em;
}
.contact-form form .input:nth-child(odd) {
    background-color: beige;
}
.contact-form form .input label {
    font-weight: 600;
}

/* Webshop */
div.page .products {
    background-color: lightgrey;
    width: 100%;
    padding: 0;
}
div.page .products .product-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}
div.page .products .product-list .product {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: grey;
    padding: 0.3em 0;
}
div.page .products .product-list .product:nth-child(odd) {
    background-color: beige;
}
div.page .products .button-link {
    width: fit-content;
}